
<!-- some Christmas music -->
<!-- (a random song of the listed files is played) -->
<audio autoplay id="audioplayer">
  <source type="audio/mpeg">
</audio>


<script>
var songs =
[
    { filename: "/music/alle_jahre_wieder_c.mp3" },
    { filename: "/music/jingle_bells_e.mp3" },
];
var randomIndex = Math.floor(Math.random() * songs.length);
var song = songs[randomIndex];
document.getElementById("audioplayer").src = song.filename;
</script>



<!-- Snowflakes (one span is one snowflake) -->
<div class="snowflakesContainer" style="z-index:-1">
	<div class="fallingSnow">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<!-- don't use all 40 snowflakes
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		-->
	
	
	</div>
	
</div>