
.playPauseButton {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 61px;
  position: absolute;
}

.playPauseButton:hover {
  cursor: pointer;
}


#audioButton {
  top: 10px;
  right: 10px;
  filter: invert(85%);
}

#snowflakeButton {
  top: 40px;
  right:10px;
}